.sidebar{
     display:'flex';
     justify-content:'center';
     flex-direction:'colum';
    background-image: linear-gradient(to top, #857CFA , #F16E91);
    height:100vh;
    margin-bottom:10px;
}
.sidebar .navButton{
 font-size:20px;
 color:#fff;


}

.sidewrapper{
    height:50%;
    display:flex;
    justify-content:space-evenly;
    flex-direction:column;
   margin-top: 50px;
}
.sidebar .navButton:hover{
 cursor: pointer;
 border-bottom: 1px solid #fff;
}
.sidebar{
    height:'100%';
    margin-bottom:-3px;
}