.sidebar{
     display:'flex';
     justify-content:'center';
     flex-direction:'colum';
    background-image: linear-gradient(to top, #857CFA , #F16E91);
    height:100vh;
    margin-bottom:10px;
}
.sidebar .navButton{
 font-size:20px;
 color:#fff;


}

.sidewrapper{
    height:70%;
    display:flex;
    justify-content:space-evenly;
    flex-direction:column;
   margin-top: 50px;
}

.sidebar .sidewrapper>h3:hover{
    cursor:pointer;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
    background-color:#F3F4F8;
    height:40px;
    margin-left:10px;
    padding-top:10px;
    color:#857CFA;
}


.sidebar{
    height:'100%';
    margin-bottom:-3px;
}
